<h1>Liste des mouvements</h1>
<div *ngIf="moves$ | async as moves">
  <table mat-table [dataSource]="moves" class="mat-elevation-z8 demo-table">
    <!-- Horodatage Column -->
    <ng-container matColumnDef="Horodatage">
      <th mat-header-cell *matHeaderCellDef>Horodatage</th>
      <td mat-cell *matCellDef="let move">{{ move.creationDate }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let move">
        {{ move.inOut ? "sortie" : "entrée" }}
      </td>
    </ng-container>

    <!-- De Column -->
    <ng-container matColumnDef="De">
      <th mat-header-cell *matHeaderCellDef>De</th>
      <td mat-cell *matCellDef="let move">
        {{ move.inOut ? move.declarationPlace : move.warehousLabel }}
      </td>
    </ng-container>

    <!-- Vers Column -->
    <ng-container matColumnDef="Vers">
      <th mat-header-cell *matHeaderCellDef>Vers</th>
      <td mat-cell *matCellDef="let move">
        {{ move.inOut ? move.warehousLabel : move.declarationPlace }}
      </td>
    </ng-container>

    <!-- Ref Column -->
    <ng-container matColumnDef="Reference">
      <th mat-header-cell *matHeaderCellDef>Reference</th>
      <td mat-cell *matCellDef="let move">{{ move.ref }}</td>
    </ng-container>

    <!-- Quantité Column -->
    <ng-container matColumnDef="Quantité">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let move">{{ move.quantity }}</td>
    </ng-container>

    <!-- Poids Column -->
    <ng-container matColumnDef="Poids">
      <th mat-header-cell *matHeaderCellDef>Poids</th>
      <td mat-cell *matCellDef="let move">{{ move.weight }}</td>
    </ng-container>

    <!-- Statut Douanier Column -->
    <ng-container matColumnDef="Statut Douanier">
      <th mat-header-cell *matHeaderCellDef>Statut Douanier</th>
      <td mat-cell *matCellDef="let move">{{ move.customsStatus }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
