<mat-card>
  <mat-card-header>
    <button
      mat-raised-button
      class="card-button"
      color="link"
      (click)="inOut = !inOut"
      [disabled]="!inOut"
    >
      Entrée
    </button>
    <button
      mat-raised-button
      class="card-button"
      color="link"
      (click)="inOut = !inOut"
      [disabled]="inOut"
    >
      Sortie
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="inOut; else elseBlock">
      <app-move-out-form></app-move-out-form>
    </div>
    <ng-template #elseBlock>
      <app-move-in-form></app-move-in-form>
    </ng-template>
  </mat-card-content>
</mat-card>

<app-move-list></app-move-list>
